<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Record</title>
</head>
<body>
    <div align="center">
        <h2>View Record</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Srno</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% record.map((val,i)=>{ %>
                    <tr>
                        <td><%= ++i %></td>
                        <td><%= val.name %></td>
                        <td><%= val.phone %></td>
                        <td>
                            <a href="/deleterecord?id=<%= val.id %>">Delete</a> || 
                            <a href="/editrecord?id=<%= val.id %>">Edit</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/add">Add</a>
    </div>
</body>
</html>